.container {
    display: flex;
    flex-direction: column;
    height: 700px;
    border: 1px dashed black;
    padding: 5px;
    margin-top: 20px;
}

.flex-item {
    border: 1px solid red;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}
